:root {
      --pink: hsl(322, 100%, 66%);
      --paleCyan: hsl(193, 100%, 96%);
      --darkCyan: hsl(192, 100%, 9%);
      --greyishBlue: hsl(208, 11%, 55%);
      --auto-grid-min-size: 20rem;
}
body {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
}
*, :before, :after {
      box-sizing: border-box;
}
.container {
      padding: 100px 70px;
      position: relative;
}
.responsive-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size), 1fr));
      grid-gap: 1rem;
}
h2 {
      font-family: 'Poppins', sans-serif;
      color: var(--darkCyan)
}
header {     
      width: 100%;
      .container {
            padding: 30px 35px;
            width: 100%;
            background: url("../images/bg-hero-desktop.svg");
            background-size: cover;
            background-color: var(--paleCyan);
            .header {
                  display: flex;
                  flex-wrap: wrap;
                  nav {
                        width: 100%;
                        display: flex;
                        margin-bottom: 50px;  
                        .container {
                              display: flex;  
                              div {
                                    justify-content: flex-end;
                                    align-self: center;
                              }
                        }                          
                        img {
                              height: fit-content;
                        }                    
                        a {
                              justify-self: flex-end;
                              align-self: center;
                              margin-left: auto;
                        }
                  }
                  > div {                        
                        padding: 80px 0;
                        .text { 
                              display: flex;
                              flex-wrap: wrap;
                              h2 {
                                    // width: 35%;
                                    line-height: 1.8;
                                    font-size: 1.8em;
                              }
                              p {
                                    margin-top: 0;
                                    width: 80%;
                              }                                                        
                              .btn {
                                    height: fit-content;
                              }       
                        }
                        img {
                              width: 100%;                                                           
                        }     
                  }
            }
      }
}
.wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
}
.box {            
      box-shadow: 1px 1px 10px hsla(208, 11%, 55%, 0.2);
      border-radius: 5px;
      margin: 10px auto;
      padding: 3em 4em;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      .text {
            grid-column: 1 / 4;
      }
      .image {
            grid-column: 5 / 7;
      }
      p {
            color: var(--darkCyan)
      }
      img {
            width: 100%;
      }
      &:nth-of-type(2) {
            .text {
                  grid-column: 4 / 7;
            }
            .image {
                  grid-column: 1 / 3;
                  grid-row: 1;
            }
      }
}
.popup {
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: center;
      background-color: white;
      position: absolute;
      z-index: 2;
      top: 7%;
      right: 25%;
      .btn {
            align-self: center;
      }
}
.btn {
      text-decoration: none;      
      padding: 1.5em 5em;
      text-align: center;      
      border-radius: 35px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      font-weight: 700;
      font-size: 15px;   
      &:hover {
            opacity: 0.8;
      }   
      &.start {
            background-color: var(--pink);
            color: white;      
      }
      &.try {
            background-color: white;
            color: var(--darkCyan);
      }
}
footer {
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.8);
      .container {
            background-color: var(--darkCyan);
            grid-template-columns: 1fr;
            padding-bottom: 0;
            .logo-footer {
                  margin-top: 70px;
            }
            .wrapper {
                  flex-direction: row;
                  width: 100%;
                  margin: 0;                  
                  ul {  
                        padding-left: 0;   
                        line-height: 1.5;                        
                        &:first-of-type {
                              flex: 3 0 0;
                              li { 
                                    padding-left: 30px;
                                    position: relative;                              
                                    &::before {
                                          content: "";
                                          position: absolute;
                                          min-width: 30px;
                                          min-height: 30px;
                                          left: 0;
                                          top: 4px; 
                                    }
                                    &:first-of-type::before {
                                          background: url(../images/icon-location.svg)no-repeat;                                                                                  
                                    }
                                    &:nth-of-type(2)::before {
                                          background: url(../images/icon-phone.svg)no-repeat;
                                    }
                                    &:last-of-type::before {
                                          background: url(../images/icon-email.svg)no-repeat;
                                    }                                    
                              }
                        }
                        &:nth-of-type(2), &:nth-of-type(3), &:last-of-type {
                              flex: 1.5 0 0;
                        }                                   
                        li {
                              list-style: none;
                              margin: 18px;
                              a {
                                    text-decoration: none;     
                                    color: rgba(255, 255, 255, 0.8);                               
                              }
                        }
                        &.social {
                              display: flex;
                              .icon-circle {
                                    border: 1px solid rgba(255, 255, 255, 0.8);
                                    border-radius: 15px;
                                    padding: 4px 7px;
                              }
                              li {
                                    margin: 20px 5px;
                                    
                              }
                        }
                  }
            }
            .copy {
                  text-align: right;
            }
      }
}
@media (max-width: 766px) {
      .text {
            text-align: center;
            justify-content: center;
      }
}