:root {
  --pink: hsl(322, 100%, 66%);
  --paleCyan: hsl(193, 100%, 96%);
  --darkCyan: hsl(192, 100%, 9%);
  --greyishBlue: hsl(208, 11%, 55%);
  --almostWhite: rgba(255, 255, 255, 0.8);
  --auto-grid-min-size: 20rem; }

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

*, :before, :after {
  box-sizing: border-box; }

.container {
  padding: 100px 70px;
  position: relative; }

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem; }

h2 {
  font-family: 'Poppins', sans-serif;
  color: var(--darkCyan); }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto; }

.box {
  box-shadow: 1px 1px 10px rgba(128, 141, 153, 0.2);
  border-radius: 5px;
  margin: 15px auto;
  padding: 3em 4em;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  .box .text {
    grid-column: 1 / 4; }
  .box .image {
    grid-column: 5 / 7; }
  .box p {
    color: var(--greyishBlue); }
  .box img {
    width: 100%; }
  .box:nth-of-type(2) .text {
    grid-column: 4 / 7; }
  .box:nth-of-type(2) .image {
    grid-column: 1 / 3;
    grid-row: 1; }

.popup {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  background-color: white;
  position: absolute;
  z-index: 2;
  top: 7%;
  right: 25%; }
  .popup .btn {
    align-self: center; }

.btn {
  text-decoration: none;
  padding: 1.5em 5em;
  text-align: center;
  border-radius: 35px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 15px; }
  .btn:hover {
    opacity: 0.8; }
  .btn.start {
    background-color: var(--pink);
    color: white; }
  .btn.try {
    background-color: white;
    color: var(--darkCyan); }

header {
  width: 100%; }
  header .container {
    padding: 30px 35px;
    width: 100%;
    background: url("../images/bg-hero-desktop.svg");
    background-size: cover;
    background-color: var(--paleCyan); }
    header .container .header {
      display: flex;
      flex-wrap: wrap; }
      header .container .header nav {
        width: 100%;
        display: flex;
        margin-bottom: 50px; }
        header .container .header nav .container {
          display: flex; }
          header .container .header nav .container div {
            justify-content: flex-end;
            align-self: center; }
        header .container .header nav img {
          height: fit-content;
          align-self: center; }
        header .container .header nav a {
          justify-self: flex-end;
          align-self: center;
          margin-left: auto; }
      header .container .header > div {
        padding: 80px 0; }
        header .container .header > div .text {
          display: flex;
          flex-wrap: wrap; }
          header .container .header > div .text h2 {
            line-height: 1.8;
            font-size: 1.8em;
            align-self: flex-end;
            margin: 0; }
          header .container .header > div .text p {
            margin: 0;
            width: 80%;
            align-self: center; }
          header .container .header > div .text .btn {
            height: fit-content; }
        header .container .header > div img {
          width: 100%; }

footer {
  font-size: 0.8em;
  color: var(--almostWhite); }
  footer .container {
    background-color: var(--darkCyan);
    grid-template-columns: 1fr;
    padding-bottom: 0; }
    footer .container .logo-footer {
      margin-top: 70px; }
    footer .container .wrapper {
      flex-direction: row;
      width: 100%;
      margin: 0; }
      footer .container .wrapper ul {
        padding-left: 0;
        line-height: 1.5; }
        footer .container .wrapper ul:first-of-type {
          flex: 3 0 0; }
          footer .container .wrapper ul:first-of-type li {
            padding-left: 30px;
            position: relative; }
            footer .container .wrapper ul:first-of-type li::before {
              content: "";
              position: absolute;
              min-width: 30px;
              min-height: 30px;
              left: 0;
              top: 4px; }
            footer .container .wrapper ul:first-of-type li:first-of-type::before {
              background: url(../images/icon-location.svg) no-repeat; }
            footer .container .wrapper ul:first-of-type li:nth-of-type(2)::before {
              background: url(../images/icon-phone.svg) no-repeat; }
            footer .container .wrapper ul:first-of-type li:last-of-type::before {
              background: url(../images/icon-email.svg) no-repeat; }
        footer .container .wrapper ul:nth-of-type(2), footer .container .wrapper ul:nth-of-type(3), footer .container .wrapper ul:last-of-type {
          flex: 1.5 0 0; }
        footer .container .wrapper ul li {
          list-style: none;
          margin: 18px; }
          footer .container .wrapper ul li a {
            text-decoration: none;
            color: var(--almostWhite); }
        footer .container .wrapper ul.social {
          display: flex; }
          footer .container .wrapper ul.social .icon-circle {
            border: 1px solid var(--almostWhite);
            border-radius: 15px;
            padding: 4px 7px; }
          footer .container .wrapper ul.social li {
            margin: 20px 5px; }
    footer .container .copy {
      text-align: right; }

@media (max-width: 766px) {
  .text {
    text-align: center;
    justify-content: center; } }
